/* You can add custom styles here. */

// @import "plugins/numbered";


.link-mdn {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: rotate(-45deg) scale(var(--ggs,1));
    width: 8px;
    height: 2px;
    background: currentColor;
    border-radius: 4px
}
.link-mdn::after,
.link-mdn::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    width: 8px;
    height: 10px;
    border: 2px solid;
    top: -4px
}
.link-mdn::before {
    border-right: 0;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    left: -6px
}
.link-mdn::after {
    border-left: 0;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    right: -6px
}

.chroma * {
    transition: all ease .3s;
}
.chroma .changing {
    color: white;
}

.slider {
width:100%;
padding:.5em 0;
outline:0;
-webkit-appearance:none;
border:0;
box-shadow: none;
margin: 0 0 5px;
background-color: transparent;
}
.slider:focus {
    box-shadow: none;
}
.slider:not(:disabled)::-webkit-slider-runnable-track {
background-color:#fff;
border: 1px solid #ccc;
}
.slider:not(:disabled)::-moz-range-track {
background-color:#fff;
border: 1px solid #ccc;
}
.slider:not(:disabled)::-ms-track {
background-color:#fff;
border: 1px solid #ccc;
}
.slider::-webkit-slider-runnable-track {
width:100%;
height:10px;
border:0;
border-radius:30em;
box-shadow:none;
cursor:pointer
}
.slider::-webkit-slider-thumb {
width:20px;
height:20px;
margin:-5px 0 0;
border:0;
border-radius:30em;
background-color:#fff;
box-shadow:0 1px 4px -1px #111;
cursor:pointer;
-webkit-appearance:none
}
.slider::-moz-range-track {
width:100%;
height:10px;
border:0;
border-radius:30em;
box-shadow:none;
cursor:pointer
}
.slider::-moz-range-thumb {
width:20px;
height:20px;
margin:-5px 0 0;
border:0;
border-radius:30em;
background-color:#fff;
box-shadow:0 1px 4px -1px #111;
cursor:pointer
}
.slider::-ms-track {
width:100%;
height:10px;
border:0;
border-radius:30em;
box-shadow:none;
cursor:pointer;
border-color:transparent;
background-color:transparent;
color:transparent
}
.slider::-ms-fill-lower,
.slider::-ms-fill-upper {
border:0;
border-radius:30em;
background-color:#96a8b2;
box-shadow:none
}
.slider::-ms-thumb {
width:20px;
height:20px;
margin:-5px 0 0;
border:0;
border-radius:30em;
background-color:#fff;
box-shadow:0 1px 4px -1px #111;
cursor:pointer
}
.slider:not(:disabled):active::-webkit-slider-thumb {
transform:scale(1.4)
}
.slider:not(:disabled):active::-moz-range-thumb {
transform:scale(1.4)
}
.slider:not(:disabled):active::-ms-thumb {
transform:scale(1.4)
}
.slider:focus::-webkit-slider-thumb {
border-color:#2196f3;
box-shadow:inset 0 0 0 2px #4dabf5
}
.slider:focus::-moz-range-thumb {
border-color:#2196f3;
box-shadow:inset 0 0 0 2px #4dabf5
}
.slider:focus::-ms-thumb {
border-color:#2196f3;
box-shadow:inset 0 0 0 2px #4dabf5
}      
