/* You can add custom styles here. */

// @import "plugins/numbered";

h4 {
    font-weight: 300;
}

.hover-me {
    position: relative;
}
.hover-me::after {
    content: url(../docs/helpers/hover-me-left.png);
    position: absolute;
    top: 10px;
    right: -120px;
    opacity: .5;
}

.link-mdn {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: rotate(-45deg) scale(var(--ggs,1));
    width: 8px;
    height: 2px;
    background: currentColor;
    border-radius: 4px
}
.link-mdn::after,
.link-mdn::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    width: 8px;
    height: 10px;
    border: 2px solid;
    top: -4px
}
.link-mdn::before {
    border-right: 0;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    left: -6px
}
.link-mdn::after {
    border-left: 0;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    right: -6px
}

.chroma * {
    transition: all ease .3s;
}
.chroma .changing {
    color: white;
}

.slider {
    padding: 2px 4px;
    border-radius: .75rem;
}