:root {
  --white: #fff;
  --grey: #e6e6e6;
  --black: #262626;
  --green: #06847D;
  --blue: #4a69bd;
  --orange: #A46313;
  --red: #E02E06;
  --primary: var(--blue);
  --secondary: var(--green);
  --background: #fff;
  --background-alt: #f8fafc;
  --selection: #9e9e9e;
  --text-main: #4a4a4a;
  --text-bright: #000;
  --text-muted: #707070;
  --links: var(--primary);
  --focus: rgba(74, 105, 189, 0.35);
  --border: rgba(0, 0, 0, 0.2);
  --border-radius: 4px;
  --code: #000;
  --animation-duration: 0.1s;
  --button-hover: #ddd;
  --form-placeholder: #949494;
  --form-text: #000;
  --variable: #39a33c;
  --highlight: #ff0;
  --select-arrow: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='utf-8'?%3E %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='62.5' width='116.9' fill='%23161f27'%3E %3Cpath d='M115.3,1.6 C113.7,0 111.1,0 109.5,1.6 L58.5,52.7 L7.4,1.6 C5.8,0 3.2,0 1.6,1.6 C0,3.2 0,5.8 1.6,7.4 L55.5,61.3 C56.3,62.1 57.3,62.5 58.4,62.5 C59.4,62.5 60.5,62.1 61.3,61.3 L115.2,7.4 C116.9,5.8 116.9,3.2 115.3,1.6Z'/%3E %3C/svg%3E");
  --heading-margin: .5rem 0 .75rem;
  --typo-size-1: 2.8rem;
  --typo-size-2: 2.2rem;
  --typo-size-3: 1.8rem;
  --typo-size-4: 1.4rem;
  --typo-size-5: 1.2rem;
  --typo-size-6: 1rem;

  --accent-border: 0;
  --accent-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
html {
  margin: 0;
  padding: 0;

  font-size: 15px;
}
body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, Avenir, "Avenir Next", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 1.6;
  font-size: 1em;
  font-weight: 400;

  color: var(--text-main);
  background: var(--background-body);

  text-rendering: optimizeLegibility;
}
button,
input,
textarea {
  transition: background-color var(--animation-duration) linear,
    border-color var(--animation-duration) linear,
    color var(--animation-duration) linear,
    box-shadow var(--animation-duration) linear,
    transform var(--animation-duration) ease;
}
code,
samp,
time {
  background: var(--background);
  color: var(--code);
  padding: 2.5px 5px;
  border-radius: 6px;
  font-size: 1em;
}
pre > code {
  padding: 10px;
  display: block;
  overflow-x: auto;
}
var {
  color: var(--variable);
  font-style: normal;
  font-family: monospace;
}
kbd {
  background: var(--background);
  border: 1px solid var(--border);
  border-radius: 2px;
  color: var(--text-main);
  padding: 2px 4px 2px 4px;
}
button,
select,
input[type="submit"],
input[type="button"],
input[type="checkbox"],
input[type="range"],
input[type="radio"] {
  cursor: pointer;
}
input:not([type="checkbox"]):not([type="radio"]),
select {
  display: block;
}
input,
button,
textarea,
select,
details > summary,
.tag {
  color: var(--form-text);
  background-color: var(--background);

  font-family: inherit;
  font-size: inherit;
  white-space: nowrap;

  position: relative;
  margin: .5rem 1rem .5rem 0;
  padding: 10px 12px;
  width: 100%;
  box-sizing: border-box;

  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  outline: none;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .025), 0 2px 4px -1px rgba(0, 0, 0, .015);

  -webkit-appearance: none;
}
textarea {
  margin-right: 0;
  width: 100%;
  box-sizing: border-box;
  resize: vertical;
}
select {
  background: var(--background) var(--select-arrow) calc(100% - 12px) 50% / 12px no-repeat;
  padding-right: 35px;
}
select::-ms-expand {
  display: none;
}
select[multiple] {
  padding-right: 10px;
  background-image: none;
  overflow-y: auto;
}
button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
  padding-right: 28px;
  padding-left: 28px;
  width: auto;

  background-color: var(--btn-bg, var(--primary));
  color: var(--btn-c, var(--white));
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
}
button:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
  box-shadow: inset 0 0 2rem rgba(0, 0, 0, 0.25);
}
input:not([readonly]):hover,
select:not([readonly]):hover,
textarea:not([readonly]):hover {
  border-color: rgba(100, 100, 100, .75);
}
input[type='checkbox']:active,
input[type='radio']:active,
input[type='submit']:active,
input[type='button']:active,
input[type='range']:active,
button:active {
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
}
input:focus,
select:focus,
button:focus,
textarea:focus {
  border-color: var(--primary);
  box-shadow: 0 0 0 3px var(--focus);
}
input:invalid,
select:invalid,
button:invalid,
textarea:invalid {
  border-color: var(--red);
}
input[type="checkbox"],
input[type="radio"] {
  position: relative;
  width: 20px;
  min-width: auto;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  padding: 1px;
  margin: 0;
  margin-right: 2px;
}
input[type="radio"] {
  border-radius: 50%;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.4), inset 0 0 0 4px #fff;
}
input[type="checkbox"]:checked,
input[type="radio"]:checked {
  background: var(--primary);

}
input[type="checkbox"]:checked::before {
  display: flex;
  justify-content: center;

  content: "✔";

  color: white;
  font-size: .8rem;
}
input[type="color"] {
  padding: 2px;
  width: 5rem;
  height: 2.5rem;
}
input:disabled,
select:disabled,
button:disabled,
textarea:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
::-webkit-input-placeholder {
  color: var(--form-placeholder);
}
::-moz-placeholder {
  color: var(--form-placeholder);
}
:-ms-input-placeholder {
  color: var(--form-placeholder);
}
::-ms-input-placeholder {
  color: var(--form-placeholder);
}
::placeholder {
  color: var(--form-placeholder);
}
legend {
  font-size: 0.9em;
  font-weight: 600;
}
fieldset {
  border: 1px var(--border) solid;
  border-radius: var(--border-radius);
  margin: 0;
  margin-bottom: .5rem;
  padding: .75rem 1.5rem;
}
fieldset > legend:first-of-type {
  padding: 0 .5rem;
  font-size: 1.1rem;
  font-weight: normal;
}
.tag {
  align-items: center;
  display: inline-flex;

  font-size: .8rem;
  color: var(--tag-c, var(--white));
  background-color: var(--tag-bg, var(--primary));

  width: auto;
  height: 2em;
  justify-content: center;
  padding: 0 .75em 2px;

  border: 0;
  box-shadow: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
}
.group {
  display: inline-flex;
  justify-self: flex-start;
  margin: .5rem 1rem .5rem 0;
}
.group > * {
  margin: 0;
}
.group:not(.vertical) > * + * {
  -webkit-margin-start: -1px;
          margin-inline-start: -1px;
}
.group:not(.vertical) > *:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.group:not(.vertical) > *:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.group.vertical {
  flex-direction: column;
}
.group.vertical > * + * {
  margin-top: -1px;
}
.group.vertical > *:not(:last-child) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.group.vertical > *:not(:first-child) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.grid {
  display: grid;
  grid-template-columns: repeat(var(--col, 1), 1fr);
  grid-gap: var(--gap, 1rem);
}
@media only screen and (min-width:440px) {
  .grid[style*="--col-xs:"] {
    grid-template-columns: repeat(var(--col-xs, 1), 1fr);
  }

  .grid > [style*="--sc-xs:"] {
    grid-column: span var(--sc-xs, 1);
  }

  .grid > [style*="--sr-xs:"] {
    grid-row: span var(--sr-xs, 1);
  }
}
@media only screen and (min-width:640px) {
  .grid[style*="--col-sm:"] {
    grid-template-columns: repeat(var(--col-sm, 1), 1fr);
  }

  .grid > [style*="--sc-sm:"] {
    grid-column: span var(--sc-sm, 1);
  }

  .grid > [style*="--sr-sm:"] {
    grid-row: span var(--sr-sm, 1);
  }
}
@media only screen and (min-width:960px) {
  .grid[style*="--col-md:"] {
    grid-template-columns: repeat(var(--col-md, 1), 1fr);
  }

  .grid > [style*="--sc-md:"] {
    grid-column: span var(--sc-md, 1);
  }

  .grid > [style*="--sr-md:"] {
    grid-row: span var(--sr-md, 1);
  }
}
@media only screen and (min-width:1280px) {
  .grid[style*="--col-lg:"] {
    grid-template-columns: repeat(var(--col-lg, 1), 1fr);
  }

  .grid > [style*="--sc-lg:"] {
    grid-column: span var(--sc-lg, 1);
  }

  .grid > [style*="--sr-lg:"] {
    grid-row: span var(--sr-lg, 1);
  }
}
[style*="--inset:"] {
  top: var(--inset);
  left: var(--inset);
  right: var(--inset);
  bottom: var(--inset);
}
[style*="--inset-tl:"] {
  top: var(--inset);
  left: var(--inset);
}
[style*="--inset=t:"] {
  top: var(--inset);
  left: var(--inset);
  right: var(--inset);
}
[style*="--inset-tr:"] {
  top: var(--inset);
  right: var(--inset);
}
[style*="--inset-l:"] {
  top: var(--inset);
  left: var(--inset);
  bottom: var(--inset);
}
[style*="--inset-r:"] {
  top: var(--inset);
  right: var(--inset);
  bottom: var(--inset);
}
[style*="--inset-bl:"] {
  left: var(--inset);
  bottom: var(--inset);
}
[style*="--inset-b:"] {
  left: var(--inset);
  right: var(--inset);
  bottom: var(--inset);
}
[style*="--inset-br:"] {
  right: var(--inset);
  bottom: var(--inset);
}
img {
  max-width: 100%;
  height: auto;
}
hr {
  border: none;
  border-top: 1px solid var(--border);
}
::-moz-selection {
  background-color: var(--selection);
}
::selection {
  background-color: var(--selection);
}
footer {
  font-size: 0.8em;
  color: var(--text-muted);
}
svg {
  display: inline-block;
  font-size: inherit;
  height: 1.2em;
  vertical-align: -0.2em;
  overflow: visible;
}
figure {
  display: inline-flex;
  flex-direction: column;
  margin: 0;
}
figure figcaption {
    padding: .75rem 1.5rem;
    margin: 0;
  }
table {
  background: var(--white);
  border-collapse: collapse;
  margin-bottom: 10px;
  width: 100%;
}
td,
th {
  padding: .5rem;
  text-align: left;
}
th {
  background: var(--background-alt);
}
thead {
  border-bottom: 1px solid var(--border);
}
tr + tr,
tfoot {
  border-top: 1px solid var(--border);
}
tbody tr:nth-child(even) {}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  line-height: 1.3em;
  margin: var(--heading-margin);
  color: var(--c, inherit);
}
h1 {
  font-size: var(--typo-size-1);
}
h2 {
  font-size: var(--typo-size-2);
}
h3 {
  font-size: var(--typo-size-3);
}
h4 {
  font-size: var(--typo-size-4);
}
h5 {
  font-size: var(--typo-size-5);
}
h6 {
  font-size: var(--typo-size-6);
  line-height: 1.6em;
}
p,
table {
  margin: 0 0 1.5rem
}
a {
  color: var(--links);
  text-decoration: none;
}
b,
strong,
th {
  font-weight: bold;
}
blockquote {
  border-left: 4px solid var(--primary);
  background-color: #fff;
  margin: 1.5em 0em;
  padding: .25em 1.5em .5em;
  font-style: italic;
}
blockquote > footer {
  font-style: normal;
  border: 0;
}
blockquote cite {
  font-style: normal;
}
ul,
ol {
  padding: 0 0 0 2rem;
}
ul {
  list-style: disc;
}
dt {
  font-weight: bold;
}
dd {
  margin: 0 1rem;
}
address {
  font-style: normal;
}
mark {
  background-color: var(--highlight);
  border-radius: 2px;
  padding: 0px 2px 0px 2px;
}
.primary {
  --text-c: var(--primary);
  --btn-bg: var(--primary);
  --tag-bg: var(--primary);
  --accent-bg: var(--primary);
}
.secondary {
  --text-c: var(--secondary);
  --btn-bg: var(--secondary);
  --tag-bg: var(--secondary);
  --accent-bg: var(--secondary);
}
.green {
  --text-c: var(--green);
  --btn-bg: var(--green);
  --tag-bg: var(--green);
  --accent-bg: var(--green);
}
.blue {
  --text-c: var(--blue);
  --btn-bg: var(--blue);
  --tag-bg: var(--blue);
  --accent-bg: var(--blue);
}
.orange {
  --text-c: var(--orange);
  --btn-bg: var(--orange);
  --tag-bg: var(--orange);
  --accent-bg: var(--orange);
}
.red {
  --text-c: var(--red);
  --btn-bg: var(--red);
  --tag-bg: var(--red);
  --accent-bg: var(--red);
}
.white {
  --text-c: var(--white);
  --btn-bg: var(--white);
  --btn-c: var(--text-main);
  --tag-bg: var(--white);
  --tag-c: var(--text-main);
  --accent-bg: var(--white);
}
.grey {
  --text-c: var(--grey);
  --btn-bg: var(--grey);
  --btn-c: var(--text-main);
  --tag-bg: var(--grey);
  --tag-c: var(--text-main);
  --accent-bg: var(--grey);
}
.black {
  --text-c: var(--black);
  --btn-bg: var(--black);
  --tag-bg: var(--black);
  --accent-bg: var(--black);
}
.accent {
  color: var(--accent-c, var(--text-main));
  background-color: var(--accent-bg, var(--white));
  border: var(--accent-border, 0);
  border-radius: var(--border-radius, 0);
  box-shadow: var(--accent-shadow, none);
  overflow: hidden;
}
.accent.primary,
  .accent.secondary,
  .accent.green,
  .accent.blue,
  .accent.red,
  .accent.orange,
  .accent.black {
    --accent-c: var(--white);
    --text-c: var(--white);
  }
[style*="--border-1:"] {
  border: 1px solid var(--border-1);
}
/* Background */
[style*="--bg:"] {
  background: var(--bg, var(--background, initial));
}
[style*="--bga:"] {
  background-attachment: var(--bga, var(--background-attachment, initial));
}
[style*="--bgc:"] {
  background-color: var(--bgc, var(--background-color, initial));
}
[style*="--bgp:"] {
  background-position: var(--bgp, var(--background-position, initial));
}
[style*="--bgr:"] {
  background-repeat: var(--bgr, var(--background-repeat, initial));
}
[style*="--bgs:"] {
  background-size: var(--bgs, var(--background-size, initial));
}
[style*="--hvr-bg:"]:hover {
  background: var(--hvr-bg, var(--background, initial));
}
[style*="--hvr-bgc:"]:hover {
  background-color: var(--hvr-bgc, var(--background-color, initial));
}
/* Border */
[style*="--b:"] {
  border: var(--b, var(--border, initial));
}
[style*="--bc:"] {
  border-color: var(--bc, var(--border-color, initial));
}
[style*="--bs:"] {
  border-style: var(--bs, var(--border-style, initial));
}
[style*="--bw:"] {
  border-width: var(--bw, var(--border-width, initial));
}
[style*="--br:"] {
  border-radius: var(--br, var(--border-radius, initial));
}
[style*="--btlr:"] {
  border-top-left-radius: var(--btlr, var(--border-top-left-radius, initial));
}
[style*="--btrr:"] {
  border-top-right-radius: var(--btrr, var(--border-top-right-radius, initial));
}
[style*="--bblr:"] {
  border-bottom-left-radius: var(--bblr, var(--border-bottom-left-radius, initial));
}
[style*="--bbrr:"] {
  border-bottom-right-radius: var(--bbrr, var(--border-bottom-right-radius, initial));
}
[style*="--hvr-b:"]:hover {
  border: var(--hvr-b, var(--border, initial));
}
[style*="--hvr-bc:"]:hover {
  border-color: var(--hvr-bc, var(--border-color, initial));
}
/* Flex */
[style*="--fx:"] {
  flex: var(--fx, var(--flex, initial));
}
[style*="--fd:"] {
  flex-direction: var(--fd, var(--flex-direction, initial));
}
[style*="--fw:"] {
  flex-wrap: var(--fw, var(--flex-wrap, initial));
}
[style*="--ac:"] {
  align-content: var(--ac, var(--align-content, initial));
}
[style*="--ai:"] {
  align-items: var(--ai, var(--align-items, initial));
}
[style*="--as:"] {
  align-self: var(--as, var(--align-self, initial));
}
[style*="--jc:"] {
  justify-content: var(--jc, var(--justify-content, initial));
}
[style*="--fw:"] {
  flex-grow: var(--fw, var(--flex-grow, initial));
}
[style*="--fs:"] {
  flex-shrink: var(--fs, var(--flex-shrink, initial));
}
[style*="--o:"] {
  order: var(--o, var(--order, initial));
}
@media only screen and (min-width:440px) {
    [style*="--o-xs:"] {
  order: var(--o-xs, var(--order, initial));
}
}
@media only screen and (min-width:640px) {
    [style*="--o-sm:"] {
  order: var(--o-sm, var(--order, initial));
}  
}
@media only screen and (min-width:960px) {
    [style*="--o-md:"] {
  order: var(--o-md, var(--order, initial));
}
}
@media only screen and (min-width:1280px) {
    [style*="--o-lg:"] {
  order: var(--o-lg, var(--order, initial));
}
}
/* Grid */
[style*="--gtc:"] {
  grid-template-columns: var(--gtc, var(--grid-template-columns, initial));
}
[style*="--gtr:"] {
  grid-template-rows: var(--gtr, var(--grid-template-rows, initial));
}
[style*="--gc:"] {
  grid-column: var(--gc, var(--grid-column, initial));
}
[style*="--gr:"] {
  grid-row: var(--gr, var(--grid-row, initial));
}
[style*="--ps:"] {
  place-self: var(--ps, var(--place-self, initial));
}
[style*="--grid-cols:"] {
    grid-template-columns: repeat(var(--grid-cols), minmax(0, 1fr));
}
/* Layout */
[style*="--d:"] {
  display: var(--d, var(--display, initial));
}
[style*="--ft:"] {
  float: var(--ft, var(--float, initial));
}
[style*="--pos:"] {
  position: var(--pos, var(--position, initial));
}
[style*="--top:"] {
  top: var(--top, var(--top, initial));
}
[style*="--left:"] {
  left: var(--left, var(--left, initial));
}
[style*="--right:"] {
  right: var(--right, var(--right, initial));
}
[style*="--bottom:"] {
  bottom: var(--bottom, var(--bottom, initial));
}
[style*="--of:"] {
  -o-object-fit: var(--of, var(--object-fit, initial));
     object-fit: var(--of, var(--object-fit, initial));
}
[style*="--op:"] {
  -o-object-position: var(--op, var(--object-position, initial));
     object-position: var(--op, var(--object-position, initial));
}
[style*="--v:"] {
  visibility: var(--v, var(--visibility, initial));
}
[style*="--zi:"] {
  z-index: var(--zi, var(--z-index, initial));
}
[style*="--o:"] {
  overflow: var(--o, var(--overflow, initial));
}
[style*="--ox:"] {
  overflow-x: var(--ox, var(--overflow-x, initial));
}
[style*="--oy:"] {
  overflow-y: var(--oy, var(--overflow-y, initial));
}
[style*="--inlay:"] {
    top: var(--inlay);
    left: var(--inlay);
    right: var(--inlay);
    bottom: var(--inlay);
}
[style*="--of:"] {
  overflow: var(--of, var(--overflow, initial));
}
[style*="--ofx:"] {
  overflow-x: var(--ofx, var(--overflow-x, initial));
}
[style*="--ofy:"] {
  overflow-y: var(--ofy, var(--overflow-y, initial));
}
/* Sizing */
[style*="--w:"] {
  width: var(--w, var(--width, initial));
}
[style*="--h:"] {
  height: var(--h, var(--height, initial));
}
[style*="--minw:"] {
  min-width: var(--minw, var(--min-width, initial));
}
[style*="--minh:"] {
  min-height: var(--minh, var(--min-height, initial));
}
[style*="--maxw:"] {
  max-width: var(--maxw, var(--max-width, initial));
}
[style*="--maxh:"] {
  max-height: var(--maxh, var(--max-height, initial));
}
/* Spacing */
[style*="--p:"] {
  padding: var(--p, var(--padding, initial));
}
[style*="--pl:"] {
  padding-left: var(--pl, var(--padding-left, initial));
}
[style*="--pr:"] {
  padding-right: var(--pr, var(--padding-right, initial));
}
[style*="--pt:"] {
  padding-top: var(--pt, var(--padding-top, initial));
}
[style*="--pb:"] {
  padding-bottom: var(--pb, var(--padding-bottom, initial));
}
[style*="--px:"] {
  padding-left: var(--px);
  padding-right: var(--px);
}
[style*="--py:"] {
  padding-top: var(--py);
  padding-bottom: var(--py);
}
[style*="--m:"] {
  margin: var(--m, var(--margin, initial));
}
[style*="--ml:"] {
  margin-left: var(--ml, var(--margin-left, initial));
}
[style*="--mr:"] {
  margin-right: var(--mr, var(--margin-right, initial));
}
[style*="--mt:"] {
  margin-top: var(--mt, var(--margin-top, initial));
}
[style*="--mb:"] {
  margin-bottom: var(--mb, var(--margin-bottom, initial));
}
[style*="--mx:"] {
  margin-left: var(--mx);
  margin-right: var(--mx);
}
[style*="--my:"] {
  margin-top: var(--my);
  margin-bottom: var(--my);
}
/* Typography */
[style*="--c:"] {
  color: var(--c, var(--color, initial));
}
[style*="--size:"] {
  font-size: var(--size, var(--font-size, initial));
}
[style*="--style:"] {
  font-style: var(--style, var(--font-style, initial));
}
[style*="--weight:"] {
  font-weight: var(--weight, var(--font-weight, initial));
}
[style*="--ls:"] {
  letter-spacing: var(--ls, var(--letter-spacing, initial));
}
[style*="--lh:"] {
  line-height: var(--lh, var(--line-height, initial));
}
[style*="--lis:"] {
  list-style: var(--lis, var(--list-style, initial));
}
[style*="--list:"] {
  list-style-type: var(--list, var(--list-style-type, initial));
}
[style*="--lisp:"] {
  list-style-position: var(--lisp, var(--list-style-position, initial));
}
[style*="--ta:"] {
  text-align: var(--ta, var(--text-align, initial));
}
[style*="--td:"] {
  -webkit-text-decoration: var(--td, var(--text-decoration, initial));
          text-decoration: var(--td, var(--text-decoration, initial));
}
[style*="--tt:"] {
  text-transform: var(--tt, var(--text-transform, initial));
}
[style*="--wm:"] {
  -webkit-writing-mode: var(--wm, var(--writing-mode, initial));
      -ms-writing-mode: var(--wm, var(--writing-mode, initial));
          writing-mode: var(--wm, var(--writing-mode, initial));
}
[style*="--va:"] {
  vertical-align: var(--va, var(--vertical-align, initial));
}
[style*="--ws:"] {
  white-space: var(--ws, var(--white-space, initial));
}
[style*="--wb:"] {
  word-break: var(--wb, var(--word-break, initial));
}
[style*="--wsp:"] {
  word-spacing: var(--wsp, var(--word-spacing, initial));
}
[style*="--ww:"] {
  word-wrap: var(--ww, var(--word-wrap, initial));
}
[style*="--cc:"] {
  -moz-column-count: var(--cc, var(--column-count, initial));
       column-count: var(--cc, var(--column-count, initial));
}
[style*="--cg:"] {
  -moz-column-gap: var(--cg, var(--column-gap, initial));
       column-gap: var(--cg, var(--column-gap, initial));
}
[style*="--cr:"] {
  -moz-column-rule: var(--cr, var(--column-rule, initial));
       column-rule: var(--cr, var(--column-rule, initial));
}
[style*="--cf:"] {
  -moz-column-fill: var(--cf, var(--column-fill, initial));
       column-fill: var(--cf, var(--column-fill, initial));
}
[style*="--line-clamp:"] {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp);
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
/* Transform */
[style*="--c:"] {
  transform: var(--c, var(--transform, initial));
}
[style*="--c:"] {
  transform-origin: var(--c, var(--transform-origin, initial));
}
[style*="--c:"] {
  transform-style: var(--c, var(--transform-style, initial));
}
/* Animation */
[style*="--t:"] {
  transition: var(--t, var(--transition, initial));
}
[style*="--td:"] {
  transition-delay: var(--td, var(--transition-delay, initial));
}
[style*="--tdn:"] {
  transition-duration: var(--tdn, var(--transition-duration, initial));
}
[style*="--tp:"] {
  transition-property: var(--tp, var(--transition-property, initial));
}
[style*="-ttf:"] {
  transition-timing-function: var(-ttf, var(--transition-timing-function, initial));
}
/* Misc */
[style*="--ct:"] {
  content: var(--ct, var(--content, initial));
}
[style*="--op:"] {
  opacity: var(--op, var(--opacity, initial));
}
[style*="--v:"] {
  visibility: var(--v, var(--visibility, initial));
}
[style*="-us:"] {
  -webkit-user-select: var(-us, var(--user-select, initial));
     -moz-user-select: var(-us, var(--user-select, initial));
      -ms-user-select: var(-us, var(--user-select, initial));
          user-select: var(-us, var(--user-select, initial));
}
[style*="--bxs:"] {
  box-sizing: var(--bxs, var(--box-sizing, initial));
}
[style*="--c:"] {
  color: var(--c, var(--color, initial));
}
[style*="--bshadow:"],
[style*="--box-shadow:"] {
    box-shadow: 0 calc(var(--bshadow) * .1px) calc(var(--bshadow) * .2px) rgba(0,0,0,calc(var(--bshadow) * .02)), 
                0 calc(var(--bshadow) * .2px) calc(var(--bshadow) * .4px) rgba(0,0,0,calc(var(--bshadow) * .02)), 
                0 calc(var(--bshadow) * .4px) calc(var(--bshadow) * .8px) rgba(0,0,0,calc(var(--bshadow) * .02)), 
                0 calc(var(--bshadow) * .8px) calc(var(--bshadow) * 1.6px) rgba(0,0,0,calc(var(--bshadow) * .02)); 
}
[style*="--hvr-levitate:"] {
    transition: all .4s ease;
}
[style*="--hvr-levitate:"]:hover,
    [style*="--hvr-levitate:"]:focus {
        box-shadow: 0 calc(var(--hvr-levitate) * .6px) calc(var(--hvr-levitate) * .6px) rgba(0,0,0,calc(var(--hvr-levitate) * .015)), 
                    0 calc(var(--hvr-levitate) * 1.2px) calc(var(--hvr-levitate) * 1.2px) rgba(0,0,0,calc(var(--hvr-levitate) * .015)), 
                    0 calc(var(--hvr-levitate) * 2.4px) calc(var(--hvr-levitate) * 2.4px) rgba(0,0,0,calc(var(--hvr-levitate) * .015)), 
                    0 calc(var(--hvr-levitate) * 4.8px) calc(var(--hvr-levitate) * 4.4px) rgba(0,0,0,calc(var(--hvr-levitate) * .015)); 
        transform: translateY(calc(var(--hvr-levitate) * -1px));
    }
[style*="--inset-bottom:"] {
    position: relative;
}
[style*="--inset-bottom:"]::after {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        content: '';
        background: var(--primary);
        height: calc(var(--inset-bottom) * 1px);
    }
[style*="--corner-tab-primary:"] {
    position: relative;
}
[style*="--corner-tab-primary:"]::after {
        position: absolute;
        right: 0;
        bottom: 0;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 calc(var(--corner-tab-primary) * 1px) calc(var(--corner-tab-primary) * 1px);
        border-color: transparent transparent var(--primary) transparent;
    }
[style*="--concave:"] {
    background-image: linear-gradient(135deg, rgba(0,0,0,calc(var(--concave) * .022)), rgba(255,255,255,calc(var(--concave) * .025)));
    box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, calc(var(--concave) * .025)), -8px -8px 12px 0 rgba(255, 255, 255, calc(var(--concave) * .03));
}

/*# sourceMappingURL=bedrock.css.map */
