<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

<head>
  {{ partial "docs/html-head" . }}
  {{ partial "docs/inject/head" . }}
</head>

<body>
  <input type="checkbox" id="menu-control" style="--d:none"/>
  {{ if eq (relURL .URL) ("/" | safeHTML) }}
  <header clsas="home-header" style="">
    <div style="--d:flex;--fd:column;--ai:center;--jc:center">
      <img src="{{ "logo.png" | relURL }}" alt="bedrockcss" style="--m:20px auto 0; --d: block;">
      <h1 style="--ta: center; --mb:0">bedrock.css</h1>
      <h5 style="--ta: center; --mw: 450px; --m: auto auto 1rem">A modern approach to web design</h5>
        <div>
          <a href="#learn-more"><button class="white">Learn More</button></a>
          <a href="/docs/getting-started/installation/"><button>Getting Started</button></a>
        </div>
    </div>
  </header>
  {{ end }}
  <main style="--d:flex; --maxw:80rem; --m:0 auto;">
    <aside style="--fx:0 0 16rem; --ta:right;">
      {{ if eq (relURL .URL) ("/" | safeHTML) }}{{ else }}
        <img src="{{ "logo.png" | relURL }}" alt="bedrockcss" style="--m:20px auto 0; --d: block;">
      {{ end }}
      {{ template "menu" . }} <!-- Left menu Content -->
    </aside>

    <div class="book-page" style="--px:2rem;">
      <header class="book-header">
        {{ template "header" . }} <!-- Mobile layout header -->
      </header>

      {{ partial "docs/inject/content-before" . }}
      {{ template "main" . }} <!-- Page Content -->
      {{ partial "docs/inject/content-after" . }}

      <footer class="book-footer">
        {{ template "footer" . }} <!-- Footer under page content -->
        {{ partial "docs/inject/footer" . }}
      </footer>

      {{ template "comments" . }} <!-- Comments block -->

      <label for="menu-control" class="hidden book-menu-overlay"></label>
    </div>

    {{ if default true (default .Site.Params.BookToC .Params.BookToC) }}
    <aside class="book-toc">
      {{ template "toc" . }} <!-- Table of Contents -->
    </aside>
    {{ end }}
  </main>

  {{ partial "docs/inject/body" . }}
</body>

</html>

{{ define "menu" }}
  {{ partial "docs/menu" . }}
{{ end }}

{{ define "header" }}
  {{ partial "docs/header" . }}

  {{ if default true (default .Site.Params.BookToC .Params.BookToC) }}
    <input type="checkbox" class="hidden" id="toc-control" />
    <aside class="hidden clearfix">
      {{ template "toc" . }}
    </aside>
  {{ end }}
{{ end }}

{{ define "footer" }}
  {{ partial "docs/footer" . }}
{{ end }}

{{ define "comments" }}
  {{ if and .Content (default true (default .Site.Params.BookComments .Params.BookComments)) }}
  <div class="book-comments">
    {{- partial "docs/comments" . -}}
  </div>
  {{ end }}
{{ end }}

{{ define "main" }}
  <article class="markdown">
    {{- .Content -}}
  </article>
{{ end }}

{{ define "toc" }}
  {{ partial "docs/toc" . }}
{{ end }}
