<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

<head>
  {{ partial "docs/html-head" . }}
  {{ partial "docs/inject/head" . }}
</head>

<body>
  <input type="checkbox" id="menu-control" class="hidden"/>
  {{ if eq (relURL .URL) ("/" | safeHTML) }}
  <header clsas="home-header" style="--pos:relative; --z:1">
    <div style="--d:flex;--fd:column;--ai:center;--jc:center; --mb:2rem">
      <img src="{{ "logo.png" | relURL }}" alt="bedrockcss" style="--m:2rem auto 0; --d: block;">
      <h1 style="--ta: center; --mb:0">bonsai.css</h1>
      <h4 style="--ta: center; --mw: 450px; --m: auto auto .5rem">The modern approach to web design</h4>
      <p style="--ta: center; --mw: 450px; --m: auto auto 1rem; --c:#888">A Utility Complete CSS Framework for less than 45kb (<strong>8kb Gzipped</strong>)</p>
      <div  style="--p:.5rem; --ta:center">
        <a href="#learn-more"><button class="white">Learn More</button></a>
        <a href="/docs/getting-started/installation/"><button>Getting Started</button></a>
        <a href="https://github.com/bonsaicss/bonsai.css" target="_blank"><button style="--bg:#282c34">Github</button></a>
      </div>
    </div>
    <div style="--d:flex; --fd:column; --fd-lg:row; --jc:center; --mb-md:10rem; --bg:#eee;">
      <div style="--w:100%; --maxw-lg:260px; --p:1rem;">
        <label for="maxw">Max Width</label>
        <input class="slider" type="range" id="maxw" name="maxw" min="300" max="550" value="400">
        <label for="levitate">Levitate</label>
        <input class="slider" type="range" id="levitate" name="levitate" min="0" max="20" value="3">
        <label for="padding">Padding</label>
        <input class="slider" type="range" id="padding" name="padding" min="0" max="30" value="0">
        <label for="br">Border Radius</label>
        <input class="slider" type="range" id="br" name="br" min="0" max="80" value="5">
      </div>
      <div class="markdown" style="--maxw:100%; --maxw-lg:800px; --w:100%; --ml-md:1rem; --pos:relative; --p-md:0; --p:0 1rem;">
      <div style="--m:1rem auto; --m-md:4rem; --pos-md:absolute; top:50px; --right: 0; --right-lg: -100px; --z:1; --d:flex; --jc:center">
        <figure id="demo" style="--mb:1.5rem; --maxw:400px; --levitate:3; --br:5px; --px:0; --bg:#fff;">
        <img src="https://source.unsplash.com/QMB1ur53fnI/130x130" alt="sample" style="--mt:2rem;--mr:auto;--ml:auto;--br:50%">
        <figcaption style="--ta:center">
            <h4>Sarah Drake</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.</p>
        </figcaption>
        </figure>
      </div>
      <script>
        (function() {
        document.addEventListener("DOMContentLoaded", function() {
            liveprop('padding', '--p', 'px', 'demo');
            liveprop('maxw', '--maxw', 'px', 'demo');
            liveprop('br', '--br', 'px', 'demo');
            liveprop('levitate', '--levitate', '', 'demo');
            });
        })();
      </script>
<div class="highlight"><pre class="chroma"><code class="language-html" style="--p:1.5rem 2rem; --minh:240px" data-lang="html"><span class="p">&lt;</span><span class="nt">figure</span> <span class="na">style</span><span class="o">=</span><span class="s">"<span id="maxw-label">--maxw:400px;</span> <span id="levitate-label">--levitate:3;</span> <span id="padding-label">--p:0"</span> <span id="br-label">--br:5px;</span></span><span class="p"></span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">img</span> <span class="na">src</span><span class="o">=</span><span class="s">"#"</span> <span class="na">alt</span><span class="o">=</span><span class="s">"sample"</span> <span class="na">style</span><span class="o">=</span><span class="s">"--mt:2rem; --mr:auto; --ml:auto; --br:50%"</span><span class="p"></span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">figcaption</span> <span class="na">style</span><span class="o">=</span><span class="s">"--ta:center"</span><span class="p"></span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">h4</span><span class="p"></span><span class="p">&gt;</span>Sarah Drake<span class="p">&lt;</span><span class="p">/</span><span class="nt">h4</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">p</span><span class="p"></span><span class="p">&gt;</span> ... <span class="p">&lt;</span><span class="p">/</span><span class="nt">p</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="p">/</span><span class="nt">figcaption</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="p">/</span><span class="nt">figure</span><span class="p">&gt;</span></code></pre>
        </div>
        
      </div>
    </div>
  </header>
  {{ end }}
  <main style="--d:flex; --maxw:80rem; --m:0 auto;">
    <aside class="book-menu" style="--fx:0 0 16rem; --ta:right; --pos:sticky; --top:0; --as:flex-start; --minh:100vh; --d:flex; --fd:column">
      {{ if eq (relURL .URL) ("/" | safeHTML) }}{{ else }}
        <a href="{{ .Site.BaseURL | relLangURL }}">
          <img src="{{ "logo.png" | relURL }}" alt="bedrockcss" style="--m:20px 15px 0 auto; --maxw:100px">
        </a>
      {{ end }}
      {{ template "menu" . }} <!-- Left menu Content -->
        <a href="https://twitter.com/bonsaicss" style="--ta:left; --mt:auto; --d:inline-flex; --ai:center; --p:5px 10px; --m:1rem 2rem; --radius:20px; --bg:#fafafa; --as:flex-end">
          <div style="--ml:auto;--mr:.5rem;">
            <div style="--c:#777">@bonsaicss</div>
          </div>
          <div>
              <svg style="--c:var(--primary)" aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"></path></svg>
          </div>
        </a>
    </aside>

    <div class="book-page" style="--px:2rem;">
      <header class="book-header">
        {{ template "header" . }} <!-- Mobile layout header -->
      </header>

      {{ partial "docs/inject/content-before" . }}
      {{ template "main" . }} <!-- Page Content -->
      {{ partial "docs/inject/content-after" . }}

      <footer class="book-footer">
        {{ template "footer" . }} <!-- Footer under page content -->
        {{ partial "docs/inject/footer" . }}
      </footer>

      {{ template "comments" . }} <!-- Comments block -->

      <label for="menu-control" class="hidden book-menu-overlay"></label>
    </div>

    {{ if default true (default .Site.Params.BookToC .Params.BookToC) }}
    <aside class="book-toc">
      {{ template "toc" . }} <!-- Table of Contents -->
    </aside>
    {{ end }}
  </main>

  {{ partial "docs/inject/body" . }}
  <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>

</html>

{{ define "menu" }}
  {{ partial "docs/menu" . }}
{{ end }}

{{ define "header" }}
  {{ partial "docs/header" . }}

  {{ if default true (default .Site.Params.BookToC .Params.BookToC) }}
    <input type="checkbox" class="hidden" id="toc-control" />
    <aside class="hidden clearfix">
      {{ template "toc" . }}
    </aside>
  {{ end }}
{{ end }}

{{ define "footer" }}
  {{ partial "docs/footer" . }}
{{ end }}

{{ define "comments" }}
  {{ if and .Content (default true (default .Site.Params.BookComments .Params.BookComments)) }}
  <div class="book-comments">
    {{- partial "docs/comments" . -}}
  </div>
  {{ end }}
{{ end }}

{{ define "main" }}
  <article class="markdown">
    {{- .Content -}}
  </article>
{{ end }}

{{ define "toc" }}
  {{ partial "docs/toc" . }}
{{ end }}
